

.about_us_title > :last-child{
    border: 1px solid var(--primary);
    width: 90px;
    margin-top: 10px;
}

.what_about_us{
    font-size: 14px;
    font-weight: var(--semiBold);
    padding: 20px 0;
    line-height: 24px;
    color: var(--body);
}

.button{
    font-size: 12px;
    line-height: 16px;
    font-weight: var(--semiBold);
}

.rate{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    gap: 20px;
    margin: 20px 0;
    padding: 10px;
}

.text_specification{
    background-color: rgba(165, 0, 0, 0.2);
}