
.wrapper {
    max-width: 47vh;
    width: 100%;
    padding: 20px 0;
}

.carousel{
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}
.blockImg{
    display: flex;
    gap: 8px
}

.blockImg > :first-child{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.blockImg > :first-child > :first-child{
    height: 20px;
    width: auto;
}

.blockImg > :last-child{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 8px;
}

.slider_scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.scrollbar_track{
    height: 2px;
    width: 100%;
    background-color: rgba(165, 0, 0, 0.2);
    position: relative;
}
.scrollbar_thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--primary);
}
